<div
  class="flex flex-column sm:flex-row sm:align-items-center p-1 gap-2"
  [ngClass]="{ 'border-top-1 surface-border': !first }"
>
  <div class="md:w-2rem relative">
    <p-checkbox
      [binary]="true"
      inputId="binary"
      [(ngModel)]="todo.isCompleted"
      (onChange)="markAsDone()"
    />
  </div>
  <div
    class="flex flex-column md:flex-row justify-content-between md:align-items-center flex-1 gap-1"
  >
    <div style="width: 45%;"
      class="flex flex-row md:flex-column justify-content-between align-items-start gap-2"
    >
      <div >
        <div 
          #todoName
          tabindex="-1"
          [contentEditable]="editableTodo"
          class="text-md font-medium text-700 mt-2"
          [ngClass]="{ strikethrough: todo.isCompleted }"
          (keydown.escape)="cancelModify()"
          (keydown.enter)="updateTask($event)"
        >
          {{ todo.description }} 
        </div>
      </div>
    </div>
    <div style="width: 15%;">
      {{ todo.category }} 
    </div>
    <div style="width: 15%;">
      {{ todo.priority }} 
    </div>
    <div style="width: 10%;">
      {{ todo.isCompleted }} 
    </div>
    <div class="flex flex-row align-items-end gap-1">
      @if(editableTodo){
      <p-button
        icon="pi pi-save"
        [rounded]="true"
        [outlined]="true"
        size="small"
        (onClick)="updateTask()"
      />
      <p-button
        icon="pi pi-times"
        [rounded]="true"
        [outlined]="true"
        size="small"
        severity="danger"
        (onClick)="cancelModify()"
      />
      } @else {
      <p-button
        icon="pi pi-pencil"
        [rounded]="true"
        [outlined]="true"
        size="small"
        (onClick)="markAsEditable()"
      />
      <p-button
        icon="pi pi-trash"
        [rounded]="true"
        [outlined]="true"
        size="small"
        severity="danger"
        (onClick)="deleteTask()"
      />
      }
    </div>
  </div>
</div>


<p-confirmDialog
  header="Confirmation"
  icon="pi pi-exclamation-triangle"
  acceptLabel="Delete"
  acceptButtonStyleClass="p-button-danger"
  rejectLabel="Cancel"
></p-confirmDialog>
