<div
  class="  p-1"
  [ngClass]="{ 'border-top-1 surface-border': !first }"
>
  <div appHighlight class="grid align-items-center" [ngClass]="{ strikethrough: todo.isCompleted }">
    <div class="col">
      <p-checkbox
        [binary]="true"
        inputId="binary"
        [(ngModel)]="todo.isCompleted"
        (onChange)="markAsDone()"
      />
    </div>
    <div class="col-3">
      <div
        #todoName
        tabindex="-1"
        [contentEditable]="editableTodo"
        class="text-md font-medium text-700"
        (keydown.escape)="cancelModify()"
        (keydown.enter)="updateTask(todoName.innerText!)"
      >
        {{ todo.description }}
      </div>
    </div>
    <div class="col-2">
      @if (editableTodo) {
        <p-dropdown
          class="w-full"
          id="category"
          [options]="categories"
          placeholder="Seleccione una categoria"
          name="category"
          [(ngModel)]="todo.category">
        </p-dropdown>
      } @else {
        {{ todo.category }}
      }

    </div>
    <div class="col">
      @if (editableTodo) {
        <p-dropdown
          class="w-full"
          id="priority"
          [options]="priorities"
          placeholder="Seleccione una prioridad"
          name="priority"
          [(ngModel)]="todo.priority">
        </p-dropdown>
      } @else {
        {{ todo.priority }}
      }
    </div>
    <div class="col-2">
      {{ todo.createdAt | date: "HH:mm:ss" }}
    </div>
    <div class="col-2 text-right">
      @if (editableTodo) {
        <p-button
          class="pr-1"
          icon="pi pi-save"
          [rounded]="true"
          [outlined]="true"
          size="small"
          (onClick)="updateTask(todoName.innerText!)"
        />
        <p-button
          icon="pi pi-times"
          [rounded]="true"
          [outlined]="true"
          size="small"
          severity="danger"
          (onClick)="cancelModify()"
        />
      } @else {
        <p-button
          class="pr-1"
          icon="pi pi-pencil"
          [rounded]="true"
          [outlined]="true"
          size="small"
          (onClick)="markAsEditable()"
        />
        <p-button
          icon="pi pi-trash"
          [rounded]="true"
          [outlined]="true"
          size="small"
          severity="danger"
          (onClick)="deleteTask()"
        />
      }
    </div>
  </div>
</div>


<p-confirmDialog
  header="Confirmation"
  icon="pi pi-exclamation-triangle"
  acceptLabel="Delete"
  acceptButtonStyleClass="p-button-danger"
  rejectLabel="Cancel"
></p-confirmDialog>
