<div class="grid">
  <div class="col-8 col-offset-2">
    <p-dataView #dv [value]="todos" emptyMessage="No hay tareas">
      <ng-template pTemplate="list" let-todos>
        <div class="grid grid-nogutter">
          <div
            class="col-12"
            *ngFor="let todo of todos; let first = first"
            class="col-12"
          >
            <app-todo-item
              class="mt-2"
              [todo]="todo"
              [first]="first"
              (todoDeleted)="handleNotifyTodoDeleted($event)"
              (todoUpdated)="handleNotifyTodoUpdated($event)"
              (todoIsCompleted)="handleNotifyTodoIsCompleted($event)"
            ></app-todo-item>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </div>
</div>
